<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!--
    <bean id="myCoach" class="com.springstudy.springdemo.TrackCoach">
    </bean>
    -->
    <bean id="myCoach" class="com.springstudy.springdemo.BaseballCoach">
    </bean>
    
    <bean id="myNewCoach" class="com.springstudy.springdemo.UFCCoach">
    </bean>
</beans>





